SIGNALWIRE_SPACE=your-space.signalwire.com
SIGNALWIRE_PROJECT_ID=your_project_id_here
SIGNALWIRE_API_TOKEN=your_api_token_here

# Where 1 and 2 connect to.
SALES_NUMBER=+1XXXXXXXXXX
WORKSHOP_NUMBER=+1XXXXXXXXXY
